@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

body {
  background: scroll;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  padding: 40px 80px;
}

#navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
#mobile {
  display: none;
  align-items: center;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

li {
  position: relative;
}

.active {
  color: #088178;
}
li a:hover::after,
.active::after {
  content: "";
  width: 30%;
  height: 4px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 1px;
}

#hero {
  background-image: url("/img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero button {
  background-image: url("/img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#hero button:hover {
  background: none;
  transition: 0.3s ease;
  scale: 1.1;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 12px;
  margin: 12px 0px;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#product1 {
  text-align: center;
}
.pro-container {
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  width: auto;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0px;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.star {
  display: flex;
  align-items: center;
  justify-content: start;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(/img/banner/b2.jpg);
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 16px;
}
#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0px;
}
#banner h2 span {
  color: red;
}

#banner button:hover {
  background-color: #088178;
  color: white;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(/img/banner/b17.jpg);
  min-width: 45%;
  height: 35vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;

  border: 1px solid white;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}
.banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#sm-banner .banner-box2 {
  background-image: url("/img/banner/b10.jpg");
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(/img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}
#banner3 .banner-box2 {
  background-image: url(/img/banner/b4.jpg);
  min-width: 35%;
}
#banner3 .banner-box3 {
  background-image: url(/img/banner/b18.jpg);
}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter span {
  color: #ffbd27;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
}
#newsletter .form {
  display: flex;
  width: 30%;
  align-items: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}
.col h4 {
  font-size: 14px;
  font-family: 900;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  color: #222;
  margin-bottom: 12px;
}
footer .follow {
  margin-top: 20px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 12px;
}
footer .install img {
  margin: 10px 0 15px 0;
}

footer a:hover {
  color: #088178;
}

footer .copy {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
#close {
  display: none;
}
/* grid grid-cols-4 grid-rows-2 items-center justify-center pt-[20px] gap-0 w-full px-[250px]*/
#grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  padding: 0 250px;
}

/* shop */
#page-header {
  background-image: url("/img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

#page-header h2, 
#page-header p {
  color: white;
}
#paging {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#paging a {
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#paging a svg{
  fill: white;
  font-size: 16px;
}
/* product info */
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
#mainImg{
  margin-bottom: 15px;
}
.small-img-col{
 flex-basis: 24%;
 cursor: pointer;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: #088178;
  color: white;
}
#prodetails .single-pro-details span {
  line-height: 25px;

}
#grid2 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  padding: 0 250px;
}

/* blog */
#page-header.blog-header {
  background-image: url(/img/banner/b19.jpg);
} 
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 150px;
}
#blog .blog-box .b-img {
  width: 50%;
  margin-right: 40px;
  z-index: 99;
}
#blog img {
  width: 100%;
  height: 500px;
  object-fit: cover;
} 
#blog .b-text {
  width: 50%;
  
}
#blog .b-text a {
  font-size: 17px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .b-text a::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 8px;
  right: -60px;
}
#blog .b-text a:hover {
  color: #088178;
}
#blog .b-text a:hover:after {
  background-color: #088178;
  transition: 0.3s;
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
}



/* mediea */

@media (max-width: 799px) {
  #blog {
    padding: 150px 100px 0 100px;
}
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0%;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 20px;
    transition: 0.3s;
  }
  #navbar li {
    margin-bottom: 30px;
  }
  #mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  #mobile svg {
    width: 24px;
    height: 24px;
  }
  #navbar.active {
    right: 0px;
  }
  #close {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 24px;
    font-weight: 600;
    display: initial;
  }
  #bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  #banner {
    height: 25vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }
  #grid2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    padding: 0;
}
}

@media (max-width: 820px) {
  #blog {
    padding: 150px 100px 0 100px;
}
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0%;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 20px;
    transition: 0.3s;
  }
  #navbar li {
    margin-bottom: 30px;
  }
  #mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  #mobile svg {
    width: 24px;
    height: 24px;
  }
  #navbar.active {
    right: 0px;
  }
  #close {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 24px;
    font-weight: 600;
    display: initial;
  }
  #bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  #banner {
    height: 25vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }
  #grid2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    padding: 0;
}
}

@media (max-width: 375px) {
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog {
  padding: 100px 20px 0 20px;
}
#blog .blog-box .b-img {
  width: 100%;
  margin-right: 40px;
  z-index: 99;
  margin-bottom: 30px;
}
#blog .b-text {
  width: 100%;
}

  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0px 0px 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  #grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .pro-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter .form {
    width: 100%;
  }
  #prodetails {
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-image {
  width: 100%;
  margin-right: 0px;
}
#prodetails .single-pro-details {
  width: 100%;
}
#grid2 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  padding: 0;
}
}

@media (max-width: 414px) {
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog {
  padding: 100px 20px 0 20px;
}
#blog .blog-box .b-img {
  width: 100%;
  margin-right: 40px;
  z-index: 99;
  margin-bottom: 30px;
}
#blog .b-text {
  width: 100%;
}
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0px 0px 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  #grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .pro-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter .form {
    width: 100%;
  }
  #prodetails {
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-image {
  width: 100%;
  margin-right: 0px;
}
#prodetails .single-pro-details {
  width: 100%;
}
#grid2 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  padding: 0;
}
}

@media (max-width: 390px) {
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#blog {
  padding: 100px 20px 0 20px;
}
#blog .blog-box .b-img {
  width: 100%;
  margin-right: 40px;
  z-index: 99;
  margin-bottom: 30px;
}
#blog .b-text {
  width: 100%;
}
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0px 0px 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  #grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .pro-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter .form {
    width: 100%;
  }
  #sm-banner h2 {
    color: white;
    font-size: 20px;
    font-weight: 800;
}
#prodetails {
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image {
width: 100%;
margin-right: 0px;
}
#prodetails .single-pro-details {
width: 100%;
}
#grid2 {
display: grid;
grid-template-columns: repeat(1, minmax(0, 1fr));
grid-template-rows: repeat(4, minmax(0, 1fr));
align-items: center;
justify-content: center;
padding-top: 20px;
width: 100%;
padding: 0;
}
}

